@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');

:root{
    --white: #FAFAFA;
    --pink: #FF3E68;
    --darkpurple: #180027;
    --lightblue: #CBC5F2;
    --green: #3CE8A5;

}

* {
    margin: 0;
    box-sizing: border-box;
}
